@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Vampiro+One);
body
{
	font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}

.space {
    font-family: 'Vampiro One', cursive;
    color: #269abc;
    text-shadow: 1px 2px 1px grey;
}

#search-bar
{
    margin: 13px 0 0 0;
}

#search-form
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px #9d9d9d;
    background-color: snow;
    padding:3px;
}

#ask-question-block
{
    width: 60%;
    margin: 1% 0% 1% 19%;
    background-color: #ffffff;
    box-shadow: 2px 2px 1px grey;
}

#questions-list
{
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.question-block
{
    width: 60%;
    margin: 1% 0% 1% 19%;
    background-color: #ffffff;
    box-shadow: 2px 2px 1px grey;
    cursor:default;
}

.question
{
    padding:  .5% .5% .5% .5%;
    border-bottom:solid 1px #337ab7;
    font-size: xx-large;
}

.answer
{
    padding: .5%;
    display: none;
}

.answer-description
{
    padding: .5%;
}

.answer-slider
{
    padding: .5% .5% .5% 2%;
}

.answer-button-panel
{
    padding: .5% .1% 1% 2%;
    border-bottom:solid 1px #337ab7;
}

.question-button-panel
{
    padding: .0% .1% 0% 2%;
}

.my-qbuttons
{
    margin-top: -10% 0 -10% 0;
}

.my-abuttons
{
    margin-right: 1%;
}

.Q-aligner td
{
    border: 10px solid #ffffff;
    vertical-align: top;
    text-align: left;
    margin: -1% 0 0 -1%;
}

.question-user
{
    padding: 2%;
    font-size: small;
}

.answer-user
{
    padding: 2%;
    font-size: small;
}

.answer-question-block
{
    display: none;
}

.answer-question
{
    padding: 2%;
}
